<div class="flex flex-col items-center h-full my-2">

  <app-photos-modal [photos]="user!.photos" />

  <section class="flex bg-base-300 w-2/3 p-8 rounded-2xl">
    <div class="avatar" (click)="triggerPhotosModal()">
      <div class="w-50 rounded-full ring-primary ring-offset-base-100 ring ring-offset-3">
        <img src="{{user?.mainPhoto?.url ?? defaultAvatar}}" />
      </div>
    </div>
    <div class="flex justify-center items-center gap-2 h-fit pl-12">
      <h1 class="font-bold text-3xl">{{user?.firstname + ' ' + user?.lastname}}</h1>
      <h3 class="text-2xl">({{user?.userName}})</h3>
    </div>
    @if (user?.userName === accountService.currentUser()?.userName) {
      <a class="btn btn-primary ml-auto" routerLink="/account/edit">Edit profile</a>
    }
  </section>
  <section class="w-2/3 bg-base-300 rounded-md mt-8 p-4">
    @for (post of posts; track post.id) {
      <app-post [post]="post" />
    }
  </section>
  <button (click)="loadNextPageOfPosts()" class="btn btn-accent my-4">More...</button>
</div>