@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night --prefersdark

}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(27% 0.041 260.031);
  --color-primary: oklch(39% 0.09 240.876);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(59% 0.249 0.584);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "night";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(81% 0.111 293.571);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(82% 0.12 346.018);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));